<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Website</title>
</head>
<body>
    <h1>Hello, World! This is my simple web page hosted by Nginx.</h1>
    <h2>Hosted by {{ inventory_hostname_short }}</h2>
    <h1>Stress Test Trigger</h1>
    <p>Click the button to trigger the stress test.</p>
    <form action="/trigger-stress" method="post">
        <input type="submit" value="Trigger Stress Test">
    </form>
</body>
</html>
